/* Formulários */
input, select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: var(--space-1);
  border-radius: var(--radius-sm);
}
input:focus, select:focus, textarea:focus {
  outline: 2px solid var(--color-primary);
}